<html>
<body>
<title>Edit a Category</title>
<h1>$!category.name</h1>
<a href=#if($category.id) "details.html" #else "administrate.html" #end>Cancel...</a>
<hr>
#set($saveUrl = "save.html")
<form action="#if($category.id)../#end$saveUrl" method="POST">
    <table>
            <input type="hidden" name="id" value="$!category.id"/>
        <tr>
            <td><b>Name:</b></td>
            <td><input type="text" name="name" value="$!category.name"/><td>
        </tr>
        <tr>
            <td><b>Parent:</b></td>
            <td><SELECT NAME="idFather" SIZE=1> 
				#foreach($parent in $parents)
				<OPTION VALUE="$parent.id" 
				#if($category.id!=$parent.id)
					#if($category.idFather==$parent.id) selected #end>$parent.name</OPTION>
				#end
				#end 
				</SELECT>
			</td>
        </tr>
     
    </table>
  #foreach($error in $status.errorMessages) <b>$error</b> <br> #end
  <br>
  <input type="submit" value="Guardar"/>
</form>
<hr><a href="/TiendaOnline/homeAdministrator.html"><button>Home</button></a>
</body>
</html>