<html>
<body>
<title>Administrar Contenidos</title>
#if($contents.empty)
	<div>No hay Contenidos</div>
#else
	<ul>
	#foreach($content in $contents)
		<li><a href="${content.id}/details.html">$content.name</a>
			<a href="${content.id}/delete.html">Borrar</a></li>
	#end
	</ul>
#end
<a href ="add.html">Add New</a>
</body>
</html>