<html>
<body>
<title>Administrate Promo</title>
<h1>Administrate Promo</h1>
<a href ="add.html">Add New...</a>
<hr>
#if($promos.empty)
	<div>There is not any promotions</div>
#else
	<ul>
	#foreach($promo in $promos)
		<li><a href="${promo.id}/details.html">$promo.startDate, $promo.endDate, $promo.percent</a></li>
	#end
	</ul>
#end
<hr><a href="/TiendaOnline/homeAdministrator.html"><button>Home</button></a>
</body>
</html>