<html>
<body>
#if($paidContents.empty)
	<div>They are not purchased contents</div>
#else
	<ul>
	#foreach($paidContent in $paidContents)
		<li><a href="${paidContent.idContent}/details.html">$paidContent.idUser $paidContent.idContent</a></li>
	#end
	</ul>
	<hr>$message
#end
</body>
</html>