<html>
<body>
#if($paidContents.empty)
	<div>They are not purchased contents</div>
#else
	<table>
	<tr><td>Id-Usuario</td>  <td>Id-Contenido</td></tr>
	#foreach($paidContent in $paidContents)
		<tr><td>$paidContent.idUser</td>  <td><a href="${paidContent.idContent}/details.html"> $paidContent.idContent</a></td></tr>
	#end
	</table>
	<hr>$message
#end
</body>
</html>