<html>
<body>
WELCOME Administrator
<a href="Administrator/list.html"><p>Other Administrators</p>
<a href="Administrator/Promo/administrate.html"><p>Administrate Promos</p>
<a href="Administrator/Content/administrate.html"><p>Administrate Contents</p>
<a href="Administrator/Category/administrate.html"><p>Administrate Categories</p>
</body>
</html>