<html>
#set($saveUrl = "save.html")
<form action="$saveUrl" method="POST">
<h1>$admi.username</h1>
<a href="info.html">Cancel...</a>
<hr>
	<table>
		<input type="hidden" name="id" value="$!admi.id" />
		<input type="hidden" name="username" value="$!admi.username" />
		<tr>
			<td><b>Nuevo Password:</b></td>
			<td><input type="text" name="password" value=""/><td>
		</tr>
		<tr>
			<td><b>First Name:</b></td>
			<td><input type="text" name="firstName" value="$!admi.firstName"/><td>
		</tr>
		<tr>
			<td><b>Last Name:</b></td>
			<td><input type="text" name="lastName" value="$!admi.lastName"/><td>
		</tr>
		<tr>
			<td><b>Email:</b></td>
			<td><input type="text" name="email" value="$!admi.email"/><td>
		</tr>
	</table>
  #foreach($error in $status.errorMessages) <b>$error</b> <br> #end
  <br>
  <input type="submit" value="Guardar"/>
</form>
<hr><a href="/TiendaOnline/homeAdministrator.html"><button>Home</button></a>
</html>