<html>
<body>
<title>Administrator's info</title>
<h1>$administrator.username</h1>
<hr>
	<br /><br />
	<table>
		<tr>
			<td><b>First Name:</b></td>
			<td>$administrator.firstName<td>
		</tr>
		<tr>
			<td><b>Last Name:</b></td>
			<td>$administrator.lastName<td>
		</tr>
		<tr>
			<td><b>Email:</b></td>
			<td>$administrator.email<td>
		</tr>
	</table>
	<br />
	<a href="edit.html">Modify...</a>
<hr><a href="/TiendaOnline/homeAdministrator.html"><button>Home</button></a>
</body>
</html>