<html>
<body>
<a href="/TiendaOnline/homeSuperAdministrator.html">Go back</a></br>
<a href ="add.html">Add</a>

#if($admis.empty)
	<div>No Administrators</div>
#else
	<ul>
	#foreach($admi in $admis)
		<li><a href="${admi.id}/details.html">$admi.firstName $admi.lastName</a></li>
		
		<td><a href="${admi.id}/delete.html"
		onclick="return confirm('Are you sure you want to delete this Administrator?')"><button>Delete</button></a></li></td>
		<br/><br/>
		
	#end
	</ul>
#end
</body>
</html>