<html>
<body>
	<a href="../list.html">Go back</a>
	<br />
	#if($logs.empty)
		<div>No Tasks</div>
	#else
		<ul>
	#foreach($log in $logs)
	Task:<br/>
		<li>$log.date</li>
		<li>$log.detail</li>
		<a href="$log.id_task/taskdetail.html">Detail</a></br>	
		<br/>
	#end
	</ul>
#end
</body>
</html>